#main {
  min-height: 100vh;
  background: #1b1b1b;
  display: block;
}

#homeMain {
  overflow: hidden;
  background-color: black;
}

.section {
  position: relative;
  z-index: 2;
  display: block;
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

.section .__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#homeMain .__bg .video {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: #000;
}

#homeMain .__bg video {
  display: block;
  width: 100%;
  height: 100%;
}

video {
  object-fit: contain;
  overflow-clip-margin: content-box;
  overflow: clip;
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

#homeMain .__bg .intro {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: black;
}

.page-home-v2.intro-done #homeMain .section-inner {
  opacity: 1;
}

.page-home-v2 #homeMain .section-inner {
  opacity: 0;
  transition: 0.5s;
}

.section .section-inner.__centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

.section .section-inner {
  position: relative;
  min-height: 100vh;
}

.container {
  padding: 0 max(26px, 5.6770833333vw);
  position: relative;
  width: 100%;
  box-sizing: border-box;
}

#homeMain .slogan {
  text-align: center;
}

#homeMain .slogan p {
  max-width: 17.9104477612em;
  margin: 0 auto;
}

.size-h2-main {
  font-size: 3.2352941176rem;
  line-height: 110%;
  letter-spacing: -0.02em;
}

#glitch-text {
  font-size: 3.2352941176rem;
  margin: 0 auto;
  position: relative;
  white-space: nowrap;
  letter-spacing: -0.12em;
  line-height: 110%;
}

#glitch-text div {
  display: inline-block;
  opacity: 0; /* 초기 상태에서는 보이지 않음 */
  animation: fadeIn 0.5s forwards; /* 애니메이션 지속 시간 0.5초 */
  animation-iteration-count: 2; /* 두 번 반복 */
}

/* 각 글자가 서서히 나타나는 애니메이션 */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1; /* 글자가 사라지지 않도록 설정 */
  }
}
/* 각 글자마다 딜레이를 추가 */
#glitch-text div:nth-child(1) {
  animation-delay: 0.1s;
}
#glitch-text div:nth-child(2) {
  animation-delay: 0.2s;
}
#glitch-text div:nth-child(3) {
  animation-delay: 0.3s;
}
#glitch-text div:nth-child(4) {
  animation-delay: 0.4s;
}
#glitch-text div:nth-child(5) {
  animation-delay: 0.5s;
}

#homeMain .arrowdown {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 1.7647058824rem;
  z-index: 3;
  margin-bottom: var(--height-diff, 0px);
}

#homeMain .arrowdown span {
  display: block;
}

#homeMain .arrowdown img {
  display: block;
  width: 0.9411764706rem;
  height: 1.5882352941rem;
  animation: moveArrow 2s ease-in-out infinite;
  transform-origin: center center;
}

/* 부드러운 드리블 효과 */
@keyframes moveArrow {
  0% {
    transform: translate3d(0, -40%, 0); /* 시작 위치 */
  }
  50% {
    transform: translate3d(0, 0, 0); /* 가장 위로 */
  }
  100% {
    transform: translate3d(0, -40%, 0); /* 원래 위치로 돌아오기 */
  }
}

.page-home-v2 .sub-content {
  background: #fff;
  color: #000;
}

.pt-250 {
    padding-top: 14.7058823529rem;
}

.pb-250 {
    padding-bottom: 14.7058823529rem;
}

.pb-220 {
    padding-bottom: 12.9411764706rem;
}

.pb-260 {
    padding-bottom: 15.2941176471rem;
}

.pt-260 {
    padding-top: 15.2941176471rem;
}

#homeSlogan .slogan-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.size-subtitle1--sm {
    font-size: 2.1176470588rem;
    line-height: 112%;
    letter-spacing: -.02em;
}

.mt-40 {
    margin-top: 2.3529411765rem;
}

.btn.sm {
    height: 2.1052631579em;
    padding: 0 1.3157894737em;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    line-height: 1 !important;
    height: 4.2105263158em;
    border-radius: 4.2105263158em;
    padding: 0 2.3684210526em;
    font-weight: 400;
    border: 1.5px solid #000;
    transition: background-color .4s, color .4s, border-color .4s;
    box-sizing: border-box;
}

.btn.sm:before {
    width: 1.6315789474em;
    height: .8421052632em;
    margin-right: .8947368421em;
}

.btn:before {
    background: url(//batcrew.co.kr/wp-content/themes/bat/assets/css/../img/icon/arrow-btn.svg?v=2) 50% 50% no-repeat;
    background-size: contain;
    width: 1.6315789474em;
    height: .8421052632em;
    margin-right: .8947368421em;
    content: "";
    transition: background .4s;
}

.__uppercase {
    text-transform: uppercase !important;
}

.container .__inner {
    max-width: 1702px;
    margin: 0 auto;
}

hr {
    display: block;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: auto;
    margin-inline-end: auto;
    unicode-bidi: isolate;
    overflow: hidden;
    border-style: inset;
    border-width: 1px;
}

#homeFeaturedWorks {
    overflow: hidden;
    position: relative;
    z-index: 1;
}

.pt-70 {
    padding-top: 4.1176470588rem;
}

.size-h2 {
    font-size: 3.9411764706rem;
    line-height: 110%;
    letter-spacing: -.02em;
}

.font-w400 {
    font-weight: 400;
}

#homeFeaturedWorks .featured-works .featured-work {
    height: auto;
    min-height: initial;
    aspect-ratio: 16 / 9;
    color: #fff;
}

#homeFeaturedWorks .featured-work {
    min-height: 100vh;
    overflow: hidden;
    position: relative;
    cursor: none;
}

.mb-70 {
    margin-bottom: 4.1176470588rem;
}

.mb-200 {
    margin-bottom: 11.7647058824rem;
}

article {
  display: block;
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

#homeFeaturedWorks .featured-work .__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.section .__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#homeFeaturedWorks .featured-work .__bg video, #homeFeaturedWorks .featured-work .__bg img {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#homeFeaturedWorks .featured-work .__desc {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: min(70px, 6.4117647059rem) 0;
}

.container.__sm {
    padding: 0 max(26px, 3.59375vw);
}

#homeFeaturedWorks .featured-works .featured-work .__title {
    margin-bottom: .4166666667em;
}

#homeFeaturedWorks .featured-work .__title {
    font-weight: 600;
    margin-bottom: .625em;
}

.size-subtitle1 {
    font-size: 2.2235294118rem;
    line-height: 120%;
    letter-spacing: -.01em;
}

#homeFeaturedWorks .featured-works .featured-work .__excerpt {
    margin-bottom: .7142857143em;
}

#homeFeaturedWorks .featured-work .__excerpt {
    font-weight: 600;
    margin-bottom: 1.0714285714em;
}

.size-subtitle2 {
    font-size: 1.6470588235rem;
    line-height: 130%;
    letter-spacing: -.005em;
}

#homeFeaturedWorks .featured-work .__cat {
    display: flex;
    opacity: .6;
    flex-wrap: wrap;
    margin-right: -3em;
}

.size-caption2 {
    font-size: .9411764706rem;
    line-height: 180%;
    letter-spacing: -.01em;
}

#homeFeaturedWorks .featured-work .__cat span {
    display: block;
    margin-right: 2.1052631579em;
    letter-spacing: -.01em;
}

@media screen and (hover: hover) {
    #homeFeaturedWorks .featured-work .over-link {
        display: block;
    }
}

#homeFeaturedWorks .featured-work .over-link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
    display: none;
    cursor: none;
}

#homeFeaturedWorks .featured-works .featured-work .__bg img {
    background: #000;
}

#homeFeaturedWorks .featured-work .__bg video, #homeFeaturedWorks .featured-work .__bg img {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.section .__bg img {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

#homeFeaturedWorks .works-slogan {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

.size-subtitle1-lg {
    font-size: 3.2352941176rem;
    line-height: 110%;
    letter-spacing: -.02em;
}

.mt-60 {
    margin-top: 3.5294117647rem;
}

.size-caption1 {
    font-size: 1.1176470588rem;
    line-height: 180%;
    letter-spacing: -.01em;
}

@media screen and (hover: hover) {
    .featured-work-cursor {
        display: block;
    }
}

.featured-work-cursor {
    --cursor-bg-color: #fff;
    --cursor-color: #000;
    position: absolute;
    z-index: 99;
    pointer-events: none;
    display: none;
    transition: all .2s cubic-bezier(.23,1,.32,1);
    opacity: 0;
    top: 0;
    left: 0;
}

.featured-work-cursor:before {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 0;
    height: 0;
    content: "";
    background: var(--cursor-bg-color);
    border-radius: 1.7647058824rem;
    transition: all .6s cubic-bezier(.23,1,.32,1);
}

.featured-work-cursor span:after {
    display: block;
    background: url(//batcrew.co.kr/wp-content/themes/bat/assets/css/../img/icon/cursor-arrow.svg) 50% 50% no-repeat;
    background-size: contain;
    width: 1.6em;
    height: .8em;
    content: "";
}

.featured-work-cursor span {
    position: relative;
    font-size: 0rem;
    letter-spacing: -.01em;
    text-transform: uppercase;
    white-space: nowrap;
    color: var(--cursor-color);
    transition: all .6s cubic-bezier(.23,1,.32,1);
    padding: .625em 1.5em;
    display: flex;
    align-items: center;
    gap: .625em;
}

#homeLatestNews .latest-news {
    display: flex;
    justify-content: space-between;
    gap: 3.5294117647rem;
}

#homeLatestNews .latest-news .__desc {
    width: 31.4117647059rem;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
}

.size-body1 {
    font-size: 1.2941176471rem;
    line-height: 160%;
    letter-spacing: 0;
}

.mt-80 {
    margin-top: 4.7058823529rem;
}

#homeLatestNews .latest-news .__img {
    width: 53.5294117647rem;
}

.__marquee-contact {
    background: #e5ff48;
    display: block;
    position: relative;
    width: 100%;
    overflow: hidden;
}

.__marquee-contact .__slide {
    position: relative;
    display: inline-flex;
    flex-wrap: nowrap;
    align-items: center;
    height: 50px;
    color: #000;
    font-size: 16px;
    letter-spacing: -.01em;
    line-height: 1.8;
    animation: marquee 30s linear infinite;
}